In [1]:
#!pip install imblearn
#!pip install sklearn

Importamos librerias

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, classification_report

/opt/conda/envs/geopandas/lib/python3.7/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

Cargamos datos

In [3]:
original = pd.read_csv("adult_clean.csv") #Cargamos el original limpio

original["target"] = original["income_num"] #Hacemos de income el target
original.drop(["income_num","age",'hours_per_week','american_num'],axis=1,inplace=True) #Eliminamos los elementos innecesarios


#Cargamos el segundo
data = pd.read_csv("data.csv")
data = data[['age_cuartiles', 'cat_trabajo', 'US']]

In [4]:
for i in data.columns: #transferimos los datos al original
    original[i] = data[i]
    
data = original #Cambiamos el nombre del mismo

In [5]:
data.age_cuartiles = data.age_cuartiles.astype(str)
data.cat_trabajo = data.cat_trabajo.astype(str)

In [6]:
data

,workclass_num,education_num,marital_status_num,occupation_num,relationship_num,sex_num,capital_loss,capital_gain,target,age_cuartiles,cat_trabajo,US
0,0,9,0,0,0,1,4356,0,0,"(47.0, 90.0]",Menos 40,1
1,0,4,1,1,1,1,3900,0,0,"(47.0, 90.0]",Igual a 40,1
2,0,10,2,2,2,1,3900,0,0,"(37.0, 47.0]",Igual a 40,1
3,0,9,1,3,1,1,3770,0,0,"(28.0, 37.0]",Mayor a 40,1
4,0,6,2,4,1,0,3770,0,0,"(37.0, 47.0]",Igual a 40,1
5,1,16,3,2,3,1,3683,0,1,"(47.0, 90.0]",Menos 40,1
6,2,9,1,2,0,1,3683,0,0,"(47.0, 90.0]",Igual a 40,1
7,0,16,1,2,1,1,3004,0,1,"(37.0, 47.0]",Menos 40,1
8,3,15,3,2,0,0,2824,0,1,"(37.0, 47.0]",Mayor a 40,1
9,0,13,0,3,0,1,2824,0,1,"(47.0, 90.0]",Menos 40,1
10,0,14,2,0,0,0,2824,0,1,"(28.0, 37.0]",Mayor a 40,1
11,0,15,1,2,0,0,2824,0,1,"(37.0, 47.0]",Igual a 40,1
12,0,7,1,5,0,0,2824,0,1,"(37.0, 47.0]",Mayor a 40,1
13,0,14,1,0,0,0,2824,0,1,"(47.0, 90.0]",Mayor a 40,1
14,0,13,2,6,0,0,2824,0,1,"(28.0, 37.0]",Mayor a 40,1
15,0,13,3,0,0,0,2824,0,1,"(28.0, 37.0]",Igual a 40,1
16,0,7,2,6,0,1,2754,0,0,"(28.0, 37.0]",Mayor a 40,1
17,0,9,1,6,1,1,2754,0,0,"(47.0, 90.0]",Menos 40,1
18,0,10,4,5,4,0,2603,0,0,"(47.0, 90.0]",Igual a 40,1
19,0,11,4,7,4,0,2603,0,0,"(16.999, 28.0]",Igual a 40,1
20,0,2,4,7,0,0,2603,0,0,"(28.0, 37.0]",Menos 40,0
21,0,3,4,3,4,0,2603,0,0,"(47.0, 90.0]",Igual a 40,0
22,4,6,3,5,0,0,2559,0,1,"(28.0, 37.0]",Mayor a 40,1
23,0,6,3,2,0,0,2559,0,1,"(37.0, 47.0]",Mayor a 40,1
24,0,10,2,3,0,0,2559,0,1,"(16.999, 28.0]",Igual a 40,1
25,4,6,0,0,1,1,2559,0,1,"(47.0, 90.0]",Mayor a 40,1
26,0,15,1,0,0,0,2559,0,1,"(47.0, 90.0]",Mayor a 40,1
27,0,13,1,0,0,0,2559,0,1,"(47.0, 90.0]",Mayor a 40,1
28,3,9,3,0,0,0,2559,0,1,"(47.0, 90.0]",Mayor a 40,1
29,2,16,1,0,0,1,2559,0,1,"(47.0, 90.0]",Mayor a 40,1
...,...,...,...,...,...,...,...,...,...,...,...,...
30132,0,7,4,6,4,0,0,0,0,"(47.0, 90.0]",Igual a 40,1
30133,0,9,1,5,0,0,0,0,0,"(28.0, 37.0]",Mayor a 40,1
30134,0,12,3,1,3,1,0,0,0,"(16.999, 28.0]",Menos 40,1
30135,0,6,4,5,4,0,0,0,0,"(28.0, 37.0]",Igual a 40,1
30136,0,10,3,4,2,0,0,0,0,"(16.999, 28.0]",Igual a 40,1
30137,0,9,4,1,5,1,0,0,0,"(28.0, 37.0]",Igual a 40,1
30138,0,9,2,6,1,1,0,0,0,"(28.0, 37.0]",Menos 40,1
30139,0,16,4,2,4,0,0,0,1,"(28.0, 37.0]",Mayor a 40,1
30140,0,13,4,0,4,0,0,0,1,"(47.0, 90.0]",Mayor a 40,0
30141,0,10,1,4,1,1,0,0,0,"(28.0, 37.0]",Menos 40,1
30142,0,8,3,10,2,0,0,0,0,"(16.999, 28.0]",Menos 40,1
30143,0,13,3,0,0,1,0,0,1,"(28.0, 37.0]",Mayor a 40,1
30144,0,9,3,7,0,0,0,0,0,"(28.0, 37.0]",Mayor a 40,1
30145,1,9,2,4,2,1,0,0,0,"(37.0, 47.0]",Igual a 40,1
30146,5,12,1,2,1,1,0,0,0,"(37.0, 47.0]",Mayor a 40,1
30147,0,14,1,3,0,1,0,0,0,"(28.0, 37.0]",Menos 40,1
30148,5,12,4,4,5,1,0,0,1,"(37.0, 47.0]",Menos 40,1
30149,0,12,1,9,0,1,0,0,0,"(28.0, 37.0]",Igual a 40,1
30150,0,9,4,1,4,0,0,0,0,"(37.0, 47.0]",Igual a 40,0
30151,1,10,1,4,3,1,0,0,0,"(37.0, 47.0]",Igual a 40,1
30152,3,10,4,7,4,0,0,0,0,"(37.0, 47.0]",Mayor a 40,1
30153,0,6,4,11,4,0,0,0,0,"(28.0, 37.0]",Igual a 40,1
30154,0,11,4,6,4,0,0,0,0,"(37.0, 47.0]",Mayor a 40,1
30155,0,14,3,9,0,0,0,0,0,"(28.0, 37.0]",Menos 40,0
30156,0,14,4,0,4,0,0,0,1,"(47.0, 90.0]",Igual a 40,1
30157,0,10,3,10,0,0,0,0,0,"(16.999, 28.0]",Igual a 40,1
30158,0,12,4,9,5,1,0,0,0,"(16.999, 28.0]",Menos 40,1
30159,0,9,4,1,4,0,0,0,1,"(37.0, 47.0]",Igual a 40,1
30160,0,9,0,4,1,1,0,0,0,"(47.0, 90.0]",Igual a 40,1
30161,0,9,3,4,2,0,0,0,0,"(16.999, 28.0]",Menos 40,1

Verificamos la desviacion de los datos.

In [7]:
data.target.value_counts(normalize=False)

0    22654
1     7508
Name: target, dtype: int64

In [8]:
data = pd.get_dummies(data)

Hacemos el split.

In [9]:
training_features, test_features, \
training_target, test_target, = train_test_split(data.drop(['target'], axis=1),
                                               data['target'],
                                               test_size = .2,
                                               random_state=12)

Instanciamos y fiteamos el smote a los datos train.

In [10]:
#Hacemos smote sobre nuestro train
sm = SMOTE(random_state=12,n_jobs=-1)
x_train_res, y_train_res = sm.fit_sample(training_features, training_target)

#Ordenamos nuestro test
test = pd.DataFrame(test_features)
test["target"] = test_target

#lo ordenamos en un solo lugar
adult_smote = pd.DataFrame(x_train_res)
adult_smote.columns = training_features.columns
adult_smote["target"] = y_train_res

Verificamos que los datos estan nivelados

In [11]:
adult_smote.target.value_counts()

1    18079
0    18079
Name: target, dtype: int64

Exportamos los datos a csv.

In [12]:
test.to_csv("test.csv", encoding='utf-8', index=False)
adult_smote.to_csv("data_smote.csv", encoding='utf-8', index=False)